<section class="dashboard my-listings payment-settings tickets-purchase create-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bhoechie-tab">
          <div class="bhoechie-tab-content active">           
            <h3 class="dashboard-column-title">Create New Claim</h3>
            <p>A fast and easy way to capture your claim photos and documents</p>
            <p>Claim no.: <%= current_user.claims.count + 1 %></p>
            <p><%= current_user.email %></p>
            <div class="contents order-confirmed-right">
              <%= form_with(model: @claim, local: true) do |form| %>
                <% if @claim.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

                    <ul>
                    <% @claim.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Sr730HDVe5GYQn1S5tKyiVOmutbzMBmRa0zY+Pn6qf8="></div> 
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Photo upload/Capture</h3>
                  </div>
                  <div class="panel-body">                  
                    <output  width="77" height="74">
                        <img src="" alt="" id="imgprvw" width="77" height="74">       
                       </output>
                    <div class="form-group my-photos clearfix">
                  
                      <input type="hidden" style="border:0;" id="file_name" onclick="jQuery('#upload_datafile').click()" readonly="readonly" name="file_name" class="browse">
                   
                      <span class="uploaded-photo">
                      <a href="#" class="upload-photo" onclick="document.getElementById('files').click()"><i class="fa fa-camera"></i>Upload
                      </a>
                      <input class="browse" id="files" multiple="multiple" name="image_attachments[avatar][]" onchange="showimagepreview(this);" type="file">
                      </span>
                       
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember" id="remember" value="1"> I agree the
                        <a href="/terms">Terms and Conditions</a>
                      </div>                  
                    </div>
                    <div class="form-group">
                      <center><button class="btn btn-primary">Send</button></center>
                      </div>                  
                    </div>
                </div>
              <% end%>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  input[type="file"] {
    display: none;
}
</style>

<script type="text/javascript">
    function showimagepreview(input) {
    if (input.files && input.files[0]) {
    var filerdr = new FileReader();
    filerdr.onload = function(e) {
    $('#imgprvw').attr('src', e.target.result);
    }
    filerdr.readAsDataURL(input.files[0]);
    }
    $('.image_upload').submit();
  }
</script>