<section class="dashboard my-listings payment-settings tickets-purchase create-listing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bhoechie-tab">
          <div class="bhoechie-tab-content active">           
            <h3 class="dashboard-column-title">Create New Claim</h3>
            <p>A fast and easy way to capture your claim photos and documents</p>
            <p>Claim no.: <%= current_user.claims.count + 1 %></p>
            <p><%= current_user.email %></p>
            <div class="contents order-confirmed-right">
              <%= form_with(model: @claim, local: true) do |form| %>
                <% if @claim.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@claim.errors.count, "error") %> prohibited this claim from being saved:</h2>

                    <ul>
                    <% @claim.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                <%= form.hidden_field :user_id, value: current_user.id %>
                <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Sr730HDVe5GYQn1S5tKyiVOmutbzMBmRa0zY+Pn6qf8="></div> 
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Photo upload/Capture</h3>
                  </div>
                  <div class="panel-body">                  
                    <div class="form-group my-photos clearfix">
                    
                      <output id="result" width="77" height="74"/>
                      <img src="" alt="">
                      <input type="hidden"  style="border:0;" id="file_name" onClick="jQuery('#upload_datafile').click()" readonly="readonly" name="file_name" class="browse"/>

                      <input type="hidden" name="file_name" value="" id="fileDragName">
                      <input type="hidden" name="size" value="" id="fileDragSize">
                      <input type="hidden" name="type" value="" id="fileDragType">
                      <input type="hidden" name="image_base64" value="" id="fileDragData">
                       
                    </div>
                    <span class="uploaded-photo">
                      <a href="#" class="upload-photo" onclick="document.getElementById('files').click()"><i class="fa fa-camera"></i>Upload
                      </a>
                      <%= file_field_tag :avatar, name: "image_attachments[avatar][]", :multiple => true, :class => 'browse', :id=>"files" %>
                    </span>
                    <div class="form-group">
                        <input type="checkbox" name="remember" id="remember" value="1"> I agree the
                        <a href="/terms">Terms and Conditions</a>
                      </div>                  
                    </div>
                    <div class="form-group">
                      <center><button class="btn btn-primary">Send</button></center>
                      </div>                  
                    </div>
                </div>
              <% end%>            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style type="text/css">
  input[type="file"] {
    display: none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .thumbnail {
  /*margin-top: -21px;*/
  margin-left: 4px;
  float: left;
  height: 74px;
  width: 77px;
  }
}
.uploaded-photo {
  margin-top: 7px;
  }
</style>

<script type="text/javascript">
  setTimeout(function(){

  if(window.File && window.FileList && window.FileReader)
    {
    var filesInput = document.getElementById("files");
    filesInput.addEventListener("change", function(event){
    var files = event.target.files; //FileList object
    var output = document.getElementById("result");
    for(var i = 0; i< files.length; i++)
      {
        var sep = '&&&=>'
        document.getElementById('fileDragName').value = document.getElementById('fileDragName').value + sep + files[i].name
        document.getElementById('fileDragSize').value =  document.getElementById('fileDragSize').value + sep + files[i].size
        document.getElementById('fileDragType').value = document.getElementById('fileDragType').value + sep + files[i].type
          reader = new FileReader();
          reader.onload = function(event) {
          document.getElementById('fileDragData').value =  document.getElementById('fileDragData').value+sep+ event.target.result;}
          reader.readAsDataURL(files[i]);
        var file = files[i];
        //Only pics
        if(!file.type.match('image'))
          continue;
        var picReader = new FileReader();
        picReader.addEventListener("load",function(event){
        var picFile = event.target;
        var div = document.createElement("div");  
        div.innerHTML = "<img class='thumbnail' src='" + picFile.result + "'" +
                "title='" + picFile.name + "'/>";                    
        output.insertBefore(div,null);   
        });
         //Read the image
        picReader.readAsDataURL(file);
      }                               
       
    });
    }
    else
    {
     console.log("Your browser does not support File API");
    }

  },1000);  
</script>