<div class="row">
  <div class="container">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-8     col-sm-offset-2 allSides box-outernew">
      <div class="panel panel-info " >
        <div class="panel-heading">
          <div class="panel-title font-bold" ">Sign In</div>
          <div class="panel-head"></div>
        </div>
        <div class="panel-body panel-bodylogin-signin" >
          <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
          <%= form_for(resource, as: resource_name, :id=>"loginform", :class=>"form-horizontal", url: session_path(resource_name)) do |f| %>
          <div  class="input-group col-md-12 col-md-12 margin-bottom">
            <%= f.email_field :email, required: false, autofocus: true, :class=>"form-control " , :placeholder=>"username or email"%> 
          </div>
          <div  class="input-group col-md-12 margin-bottom">
            <%= f.password_field :password, required: false, :class=>"form-control ", :placeholder=>"password"  %>
          </div>
          <div class="input-group  webkit-input-placeholder" >
            <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= f.label :remember_me %>
          </div>
          <div class="form-group margin-top:10px">
            <!-- Button -->
            <%= f.submit "Sign In", :class=>"btn btn-primary"%>
          </div>
          <% end %>   
          <div class="col-md-6 ">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>